body {
    background-color: #F1F6F9;
}

a img {
    height: 250px;
    width: 250px;
    border-radius: 200px;
}

hr {
    color: #212A3E;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 3%;
}